<?xml version="1.0" encoding="UTF-8"?>
<module>
	
	<config>
		<name>packager</name>
		<version>0.0</version>
		<type>Module</type>
		<description>Packager</description>
		<uninstallable>false</uninstallable>
		<deactivable>false</deactivable>
		
		<lang>
			<translatable>true</translatable>
			<frontFiles>
				<file src="/controllers/FrontController.php" />
				<folder src="/views/front/" />
			</frontFiles>
		</lang>
	</config>
	
	<routes>
	
		<packager_back type="Zend_Controller_Router_Route">
			<route>administration/packager/:action/:id/:type</route>
			<defaults>
				<module>packager</module>
				<controller>back</controller>
				<action>index</action>
				<id>0</id>
				<type>null</type>
				<_isAdmin>true</_isAdmin>
			</defaults>
		</packager_back>
		
	</routes>
</module>