<?xml version="1.0" encoding="UTF-8"?>
<module>

	<config>
		<name>admin</name>
		<version>0.0</version>
		<type>Module</type>
		<description>Admin</description>
		<uninstallable>false</uninstallable>
		<deactivable>false</deactivable>
		
		<lang>
			<translatable>true</translatable>
			<frontFiles>
				<file src="/controllers/FrontController.php" />
				<folder src="/views/front/" />
			</frontFiles>
		</lang>
	</config>
	
	<routes>
		<admin type="Zend_Controller_Router_Route_Static">
			<route>administration/</route>
			<defaults>
				<module>admin</module>
				<controller>back</controller>
				<action>index</action>
				<_isAdmin>true</_isAdmin>
			</defaults>
		</admin>
		
		<admin_changemulti type="Zend_Controller_Router_Route">
			<route>administration/changemulti/:id</route>
			<defaults>
				<module>admin</module>
				<controller>back</controller>
				<action>changemulti</action>
				<id>0</id>
				<_isAdmin>true</_isAdmin>
			</defaults>
		</admin_changemulti>
		
		<admin_login type="Zend_Controller_Router_Route_Static">
			<route>administration/login/</route>
			<defaults>
				<module>users</module>
				<controller>login</controller>
				<action>index</action>
			</defaults>
		</admin_login>

		<admin_logout type="Zend_Controller_Router_Route_Static">
			<route>administration/logout/</route>
			<defaults>
				<module>users</module>
				<controller>login</controller>
				<action>logout</action>
			</defaults>
		</admin_logout>
		
		<admin_configuration type="Zend_Controller_Router_Route">
			<route>administration/configuration/:controller/:action/:id</route>
			<defaults>
				<module>admin</module>
				<controller>config</controller>
				<action>index</action>
				<id>0</id>
				<_isAdmin>true</_isAdmin>
			</defaults>
		</admin_configuration>
		
		<admin_upload type="Zend_Controller_Router_Route">
			<route>ajax/admin_upload/:action/:id</route>
			<defaults>
				<module>admin</module>
				<controller>upload</controller>
				<action>index</action>
				<id>0</id>
			</defaults>
		</admin_upload>
		
	</routes>
</module>
