<?xml version="1.0" encoding="UTF-8"?>
<module>
	
	<config>
		<name>galerieImage</name>
		<version>0.0</version>
		<type>Module</type>
		<description>Galerie Image</description>
		<uninstallable>true</uninstallable>
		<deactivable>true</deactivable>
		
		<lang>
			<translatable>true</translatable>
			<frontFiles>
				<file src="/controllers/FrontController.php" />
				<folder src="/views/front/" />
			</frontFiles>
		</lang>
	</config>
	
	<routes>
		<galeriePhoto type="Zend_Controller_Router_Route">
			<route>galeriePhoto/:action/:id</route>
			<defaults>
				<action>index</action>
				<controller>front</controller>
				<module>galerieImage</module>
				<id>0</id>
				<_isGaleriePhoto>true</_isGaleriePhoto>
			</defaults>
		</galeriePhoto>
		
		<galeriePhoto_back type="Zend_Controller_Router_Route">
			<route>administration/galeriePhoto/:action/:id</route>
			<defaults>
				<module>galerieImage</module>
				<controller>back</controller>
				<action>index</action>
				<id>0</id>
				<_isAdmin>true</_isAdmin>
				<_isGaleriePhoto>true</_isGaleriePhoto>
				<page>1</page>
			</defaults>
		</galeriePhoto_back>
	</routes>
	
</module>